---
layout: default
---

<script src="{{ '../../../../styles/js/canvas-nest.js' | prepend: site.baseurl }}"></script>
<canvas id="c_n8" width="1920" height="335" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %} 
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span> By <a target="_blank" href="{{site.url}}">{{ site.author }}</a></div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
      </div>
    </div>
  </div>
</div>
